<!DOCTYPE html>
<html>
<head>
  <title>Sp alerts</title>
  <%= stylesheet_link_tag    "sp_alerts/application", media: "all" %>
  <%= javascript_include_tag "sp_alerts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
